# Model
torch>=2.1
transformers>=4.40
sentencepiece
normalizer @ git+https://github.com/csebuetnlp/normalizer

# Data, metrics, plots
numpy
scikit-learn
matplotlib

# Web server
Flask>=2.3

# External Dictionary / Lexical Resource
pyiwn>=0.0.5
